//Colors

$Tomato: hsl(4, 100%, 67%);
$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$SoftViolet: hsl(235, 31%, 63%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: $CharcoalGrey;
  font-size: 1rem;

  @media (max-width: 476px) {
    font-size: 0.875rem;
  }

  @media (max-width: 375px) {
    font-size: 0.75rem;
  }

  @media (max-width: 476px) {
    background: $White;
  }
}

.newsletter {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  min-block-size: 100vh;
  justify-content: center;
  align-items: center;

  @media (max-width: 476px) {
    min-height: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background: $White;
    width: clamp(300px, 95%, 996px);
    border-radius: 30px;

    @media (max-width: 940px) {
      width: clamp(300px, 95%, 600px);
    }

    @media (max-width: 940px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 476px) {
      padding: 0;
      min-height: 100%;
      width: 100%;
    }
  }

  &__formCol {
    margin-left: 3rem;
    margin-top: 4rem;
    color: $CharcoalGrey;

    @media (max-width: 940px) {
      margin: 0 auto;
      margin-top: 2rem;
    }
  }

  &__imgCol {
    .imgDesktop {
      @media (max-width: 940px) {
        display: none;
      }
    }
    .imgMob {
      @media (max-width: 940px) {
        display: block;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
      }
      @media (min-width: 940px) {
        display: none;
      }
    }
  }

  &__title {
    h1 {
      color: $DarkSlateGrey;
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 60px;

      @media (max-width: 476px) {
        font-size: 2.75rem;
      }

      &.-lHeightSm {
        line-height: 50px;
      }

      @media (max-width: 375px) {
        font-size: 2.25rem;
      }
    }
  }

  &__subtitle {
    line-height: 30px;
  }

  &__desc {
    ul {
      list-style-position: inside;
      list-style-type: none;
      margin-bottom: 3rem;

      li {
        position: relative;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

        &::before {
          content: url("/assets/images/icon-list.svg");
          margin-right: 1rem;
          vertical-align: middle;
        }
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 0.75rem;
    font-weight: 700;

    input {
      padding: 1rem;
      margin-top: 0.75rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;

      &:focus-visible {
        outline-color: $SoftViolet;
        outline-width: 1px;
      }

      &.-errState {
        border: 1px solid $Tomato;
        color: $Tomato;
        background-color: #ffe8e6;
        position: relative;

        &:focus-visible {
          outline-color: $Tomato;
          outline-width: 2px;
        }
      }

      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  &__formErr {
    position: absolute;
    top: 0;
    right: 0;
    color: $Tomato;
    font-size: 0.75rem;
  }

  &__desc,
  &__subtitle,
  &__title {
    margin-bottom: 1.5rem;
  }

  &__submit {
    padding: 1rem 1.5rem;
    width: 100%;
    margin-top: 1rem;
    background: $DarkSlateGrey;
    color: $White;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover,
    &:focus-within {
      background: linear-gradient(90deg, #ff537b, transparent) #fe6a3d;
      transition: background-color 0.3s;
    }

    @media (max-width: 476px) {
      font-size: 0.75rem;
      margin-bottom: 1rem;
    }
  }

  &__tyScreen {
    padding: 3.5rem;
    background: white;
    width: clamp(300px, 85%, 476px);
    border-radius: 30px;
    color: $DarkSlateGrey;

    @media (max-width: 476px) {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
    }
  }

  &__tyIcon {
    margin-bottom: 2rem;

    img {
      width: 60px;
    }
  }

  &__tyDesc {
    font-size: 0.875rem;
    line-height: 21px;
    margin-bottom: 1.5rem;
  }

  &__tyContentWrapper {
    @media (max-width: 476px) {
      margin-top: 7rem;
    }
  }
}

.-hidden {
  display: none;
}

.-active {
  display: block;
}
